@{
    ViewBag.Title = "Index";
}

<h4>Index</h4>

<h3>Types</h3>
<h4>@Html.ActionLink("Lister les types", "ListerTypes", "Bieres")</h4>
<h4>@Html.ActionLink("Ajouter un type", "AjouterType", "Bieres")</h4>
<h3>Bières</h3>
<h4>@Html.ActionLink("Lister les bières", "ListerBieres", "Bieres")</h4>

