@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1>BeerFinder</h1>
    </div>
    <div class="col-md-8 col-md-offset-2">
        <img src="~/Images/logo.png">
    </div>
</div>